altgraph==0.16.1
click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
future==0.16.0
gunicorn==19.9.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
macholib==1.10
MarkupSafe==1.0
parso==0.3.1
pefile==2017.11.5
pluggy==0.7.1
pygame==1.9.4
PyInstaller==3.3.1
pypiwin32==223
python-language-server==0.19.0
pywin32==223
six==1.11.0
Werkzeug==0.14.1
