.wi {
    font-size: 45px;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
    margin-bottom: 0;
}

.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
background-color: #0097cf;
color: #fff;
cursor: pointer;
}
.tt-suggestion {
margin: 0;
padding: 6px 12px;
}

#map {
    width: 100%;
    height: 100%;
}

.row {
    display:flex;
}

.column {
    width: 50%;
}
p{
    font-size: 0.5em;
}

.H_ib_body{
    color:black;
    background:white;
    border: 1px solid black;
  }

.H_ib_content {
    margin: 20px 30px 20px 30px;
}
.H_icon {
    background-color: black;
    color: red;
}

.navbar-brand {
	font-size: 3vw;
}

.icon {
    display: inline-block;
    padding-left: 10px;
    font-size: 1.1em;
    color: white;
}
.center {
    height: 100%;
    margin: auto;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    background-color: black;
}
.vertical-center {

display: flex;
align-items: center;
}

@media (min-width: 1600px) {
.icon {
    font-size: 1.4em;
}
}

.infotext {
    font-size: 20px;
}